<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>about</title>
  </head>
  <body>
    <h3>
About us

<img src="FullSizeRender.jpg">

This web-app was created by three Kode with Klossy scholars: Gurleen Kaur, Jessie Chen, and Lily Ng. Over the course of the two-week camp, we learned elements of  the programming languages CSS, HTML, and Ruby. We utilized components from each language to create our scheduling app. We found that when we wanted to get together with a busy group of people, it becomes very difficult to find times that work for the majority of the group through text messages, email, etc. With our app, scheduler, we hope to simplify the process of finding a time and create an easy to read visual that works best for everyone! 

A little bit about each of the programmers: 

Gurleen - Hi! I'm an aspiring programmer who hopes to create more apps designed to help others. I enjoy cooking, crafting, and most of all, learning! 

Jessie - Hello! I just graduated high school and am planning to attend Loyola University Chicago this fall. I hope to continue my new interest in coding by taking classes in college and finding different opportunities online. 

Lily - I'm currently a rising sophmore and through Kode with Klossy, I've learned the basics of coding and it has really drawn me in. I can't wait to explore more of this extensive world in the years to come. :)

© 2017
</h3>
  </body>
</html>