<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>compare&go</title>
    <link rel="stylesheet" href="css/index.css">
    
</head>
  <body>
<img src="http://i.imgur.com/ngxlODv.png?1">

<h2>
<a href="/index.erb">home</a>&nbsp;&nbsp<a href="/about.erb">about</a>
</h2>
<br>

<h2>select how many people you would like to work with</h2><br>
 <select name="num_of_ppl_question" form="num_ppl">
   <option value="1_person">1</option>
   <option value="2_person">2</option>
   <option value="3_person">3</option>
   <option value="4_person">4</option>
   <option value="5_person">5</option>
</select><br>
 
<form id="num_ppl" method="POST"> <input type="submit">
</form>

 

 
<!--<form method="POST">-->
<!--  person one name:  <input type="text" name="user_name"><br><br>-->

<!--  are you free on monday? (select "yes" if available) <input type="radio" name="monday_availability_1" value = "yes"><br>-->
<!--  are you free on tuesday? (select "yes" if available) <input type="radio" name="tuesday_availability_1" value = "yes"><br>-->
<!--  are you free on wednesday? (select "yes" if available) <input type="radio" name="wednesday_availability_1" value = "yes"><br>-->
<!--  are you free on thursday? (select "yes" if available) <input type="radio" name="thursday_availability_1" value = "yes"><br>-->
<!--  are you free on friday? (select "yes" if available) <input type="radio" name="friday_availability_1" value = "yes"><br>-->
<!--  are you free on saturday? (select "yes" if available) <input type="radio" name="saturday_availability_1" value = "yes"><br>-->
<!--  are you free on sunday? (select "yes" if available) <input type="radio" name="sunday_availability_1" value = "yes"><br>-->
  
  
<!-- --------------PERSON 2 ---------------->
<!-- <br>-->
<!-- <br>-->
<!--  person two name:  <input type="text" name="user_name_2"><br><br>-->
 
<!--  are you free on monday? (select "yes" if available) <input type="radio" name="monday_availability_2"><br>-->
<!--  are you free on tuesday? (select "yes" if available) <input type="radio" name="tuesday_availability_2"><br>-->
<!--  are you free on wednesday? (select "yes" if available) <input type="radio" name="wednesday_availability_2"><br>-->
<!--  are you free on thursday? (select "yes" if available) <input type="radio" name="thursday_availability_2"><br>-->
<!--  are you free on friday? (select "yes" if available) <input type="radio" name="friday_availability_2"><br>-->
<!--  are you free on saturday? (select "yes" if available) <input type="radio" name="saturday_availability_2"><br>-->
<!--  are you free on sunday? (select "yes" if available) <input type="radio" name="sunday_availability_2"><br>-->
  
<!--  --------------PERSON 3 ---------------->
<!-- <br>-->
<!-- <br>-->
<!--  person three name:  <input type="text" name="user_name_3"><br><br>-->

<!--  are you free on monday? (select "yes" if available) <input type="radio" name="monday_availability_3"><br>-->
<!--  are you free on tuesday? (select "yes" if available) <input type="radio" name="tuesday_availability_3"><br>-->
<!--  are you free on wednesday? (select "yes" if available) <input type="radio" name="wednesday_availability_3"><br>-->
<!--  are you free on thursday? (select "yes" if available) <input type="radio" name="thursday_availability_3"><br>-->
<!--  are you free on friday? (select "yes" if available) <input type="radio" name="friday_availability_3"><br>-->
<!--  are you free on saturday? (select "yes" if available) <input type="radio" name="saturday_availability_3"><br>-->
<!--  are you free on sunday? (select "yes" if available) <input type="radio" name="sunday_availability_3"><br>-->
  
<!--  --------------PERSON 4 ---------------->
<!-- <br>-->
<!-- <br>-->
<!--  person four name:  <input type="text" name="user_name_4"><br><br>-->

<!--  are you free on monday? (select "yes" if available) <input type="radio" name="monday_availability_4"><br>-->
<!--  are you free on tuesday? (select "yes" if available) <input type="radio" name="tuesday_availability_4"><br>-->
<!--  are you free on wednesday? (select "yes" if available) <input type="radio" name="wednesday_availability_4"><br>-->
<!--  are you free on thursday? (select "yes" if available) <input type="radio" name="thursday_availability_4"><br>-->
<!--  are you free on friday? (select "yes" if available) <input type="radio" name="friday_availability_4"><br>-->
<!--  are you free on saturday? (select "yes" if available) <input type="radio" name="saturday_availability_4"><br>-->
<!--  are you free on sunday? (select "yes" if available) <input type="radio" name="sunday_availability_4"><br>-->
  
<!--  --------------PERSON 5 ---------------->
<!-- <br>-->
<!-- <br>-->
<!--  person five name:  <input type="text" name="user_name_5"><br><br>-->

<!--  are you free on monday? (select "yes" if available) <input type="radio" name="monday_availability_5"><br>-->
<!--  are you free on tuesday? (select "yes" if available) <input type="radio" name="tuesday_availability_5"><br>-->
<!--  are you free on wednesday? (select "yes" if available) <input type="radio" name="wednesday_availability_5"><br>-->
<!--  are you free on thursday? (select "yes" if available) <input type="radio" name="thursday_availability_5"><br>-->
<!--  are you free on friday? (select "yes" if available) <input type="radio" name="friday_availability_5"><br>-->
<!--  are you free on saturday? (select "yes" if available) <input type="radio" name="saturday_availability_5"><br>-->
<!--  are you free on sunday? (select "yes" if available) <input type="radio" name="sunday_availability_5"><br>-->
<!--  <input type="submit">-->
<!--</form>-->



  </body>
</html>
