<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>scheduler</title>
  <link rel="stylesheet" href="css/people.css">
</head>
<body>
<h3>
<form method="POST" action="/availability_2">
  person one name:  <input type="text" name="user_name"><br><br><br>

  are you free on monday? (select "yes" if available) <input type="checkbox" name="monday_availability_1" value = "yes"><br><br>
  are you free on tuesday? (select "yes" if available) <input type="checkbox" name="tuesday_availability_1" value = "yes"><br><br>
  are you free on wednesday? (select "yes" if available) <input type="checkbox" name="wednesday_availability_1" value = "yes"><br><br>
  are you free on thursday? (select "yes" if available) <input type="checkbox" name="thursday_availability_1" value = "yes"><br><br>
  are you free on friday? (select "yes" if available) <input type="checkbox" name="friday_availability_1" value = "yes"><br><br>
  are you free on saturday? (select "yes" if available) <input type="checkbox" name="saturday_availability_1" value = "yes"><br><br>
  are you free on sunday? (select "yes" if available) <input type="checkbox" name="sunday_availability_1" value = "yes"><br><br>
  
  
 <!----------------PERSON 2 ---------------->
 <br>
 <br>
  person two name:  <input type="text" name="user_name_2"><br><br><!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>scheduler</title>
  <link rel="stylesheet" href="css/people.css">
</head>
<body>
<h3>
<form method="POST" action="/availability_2">
  person one name:  <input type="text" name="user_name"><br><br><br>

  are you free on monday? (select "yes" if available) <input type="checkbox" name="monday_availability_1" value = "yes"><br><br>
  are you free on tuesday? (select "yes" if available) <input type="checkbox" name="tuesday_availability_1" value = "yes"><br><br>
  are you free on wednesday? (select "yes" if available) <input type="checkbox" name="wednesday_availability_1" value = "yes"><br><br>
  are you free on thursday? (select "yes" if available) <input type="checkbox" name="thursday_availability_1" value = "yes"><br><br>
  are you free on friday? (select "yes" if available) <input type="checkbox" name="friday_availability_1" value = "yes"><br><br>
  are you free on saturday? (select "yes" if available) <input type="checkbox" name="saturday_availability_1" value = "yes"><br><br>
  are you free on sunday? (select "yes" if available) <input type="checkbox" name="sunday_availability_1" value = "yes"><br><br>
  
  
 <!----------------PERSON 2 ---------------->
 <br>
 <br>
  person two name:  <input type="text" name="user_name_2"><br><br>
 
  are you free on monday? (select "yes" if available) <input type="checkbox" name="monday_availability_2" value = "yes"><br><br>
  are you free on tuesday? (select "yes" if available) <input type="checkbox" name="tuesday_availability_2" value = "yes"><br><br>
  are you free on wednesday? (select "yes" if available) <input type="checkbox" name="wednesday_availability_2" value = "yes"><br><br>
  are you free on thursday? (select "yes" if available) <input type="checkbox" name="thursday_availability_2" value = "yes"><br><br>
  are you free on friday? (select "yes" if available) <input type="checkbox" name="friday_availability_2" value = "yes"><br><br>
  are you free on saturday? (select "yes" if available) <input type="checkbox" name="saturday_availability_2" value = "yes"><br><br>
  are you free on sunday? (select "yes" if available) <input type="checkbox" name="sunday_availability_2" value = "yes"><br><br>
  
  <input type="submit">
  </h3>
  </form>
  </body>
  </html>

 
  are you free on monday? (select "yes" if available) <input type="checkbox" name="monday_availability_2" value = "yes"><br><br>
  are you free on tuesday? (select "yes" if available) <input type="checkbox" name="tuesday_availability_2" value = "yes"><br><br>
  are you free on wednesday? (select "yes" if available) <input type="checkbox" name="wednesday_availability_2" value = "yes"><br><br>
  are you free on thursday? (select "yes" if available) <input type="checkbox" name="thursday_availability_2" value = "yes"><br><br>
  are you free on friday? (select "yes" if available) <input type="checkbox" name="friday_availability_2" value = "yes"><br><br>
  are you free on saturday? (select "yes" if available) <input type="checkbox" name="saturday_availability_2" value = "yes"><br><br>
  are you free on sunday? (select "yes" if available) <input type="checkbox" name="sunday_availability_2" value = "yes"><br><br>
  
  <input type="submit">
  </h3>
  </form>
  </body>
  </html>
